/* OpenSans */
/* AndadaPro */
/* Archivo */
/* Roboto */
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.png");
  background-size: cover;
}

h1 {
  font-family: "Andada Pro", monospace !important;
}

h4 {
  font-family: "Open Sans", sans-serif !important;
}

p {
  font-family: "Archivo";
}

button {
  font-family: "Roboto" !important;
}

.btn-movie {
  background-color: #f1a5b1 !important;
}

.btn-trailer {
  border-color: #f1a5b1 !important;
}

.ghost-left {
  width: 500px;
  height: 500px;
  margin-left: -100px !important;
  animation: moveLeft 3s linear infinite;
}

.ghost-right {
  width: 500px;
  height: 500px;
  margin-left: -130px !important;
  animation: moveRight 3s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ghosts {
    position: absolute;
    top: 20px;
  }

  .ghost-left {
    width: 300px;
    height: 300px;
  }

  .ghost-right {
    width: 300px;
    height: 300px;
  }

  .logo {
    position: absolute;
    top: 110px;
  }

  .left-div h1 {
    text-align: left;
  }
}
